<launch>

    <!-- The robot description -->
    <param name="robot_description" textfile="$(find layered_hardware)/urdf/example.urdf" />

    <!-- Hardware driver -->
    <node name="example_layered_hardware_node" pkg="layered_hardware" type="layered_hardware_node" output="screen">
        <rosparam>
            control_frequency: 20
            use_expected_period: true
            # upper (controller-side) to bottom (actuator-side)
            layers: [ joint_limits_layer, transmission_layer, actuator_layer ]
            joint_limits_layer:
                type: layered_hardware/JointLimitsLayer
            transmission_layer:
                type: layered_hardware/TransmissionLayer
            actuator_layer:
                type: layered_hardware/DummyPositionActuatorLayer
        </rosparam>
    </node>

    <!-- Controller parameters -->
    <rosparam>
        joint_state_controller:
            type: joint_state_controller/JointStateController
            publish_rate: 20
        shoulder_controller:
            type: position_controllers/JointPositionController
            joint: shoulder
        elbow_controller:
            type: position_controllers/JointPositionController
            joint: elbow
        wrist_controller:
            type: position_controllers/JointPositionController
            joint: wrist
    </rosparam>

    <!-- Controller starter -->
    <node name="controller_starter" pkg="controller_manager" type="controller_manager" output="screen"
          args="spawn joint_state_controller shoulder_controller elbow_controller wrist_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

</launch>